@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:ital,wght@1,300;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}
   

body {
    height: 100vh; 
    background: linear-gradient(120deg, #653bffd8, #25ffff8a);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rel贸gio {
    display:flex;
    align-items:center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0,0,0.5);


}

.rel贸gio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color:white;
    color: #fff;   
    background:  rgba(5,5,5.9);
    box-shadow: 5px 5px 15px rgba(0,0,0.7);
    border-radius: 7px;
    letter-spacing: 3px;
}


    .rel贸gio span {
        font-weight:  bolder;
        font-size: 60px;

    }

    .rel贸gio span.tempo {
        font-size: 10px;

    }

    
    




